{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista_productos</title>
</head>
<body>

    <h1> Productos </h1>
    <ul>
        {% for producto in productos %}
        <li>
            {{nombre.producto}} - {{precio.producto}}
            <a href= "{% url 'agregar_al_carro' producto_id %}">agregar al carro </a>
        </li>
        {%endfor%}
    </ul>
    <a href={% url 'ver_carro'%}> ver carro </a>



   
</body>
</html>
